body{
  font-family: 'Poppins', sans-serif;
  font-family: 'Roboto', sans-serif;  
}
.container{
  background-image:url(images/donation1.jpg);
  height:800px;
  
  background-size:cover;
  background-repeat:no-repeat;
  /* background-repeat:repeat-x; */
  background-attachment: fixed;
  width:100%;
  position:absolute;
  margin-top:0px;
  
}
.header-description{
  text-align:center;
  margin-top:200px;   
}
body{
  margin:0px;
}
.heading-tittle{
  font-size:70px;
  color:white;
  font-weight:900;
}
.speach-for-effected{
  font-size:20px;
  color:white;
}

